version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: autoflex-frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped
    ports:
      - 5173:5173
    environment:
      VITE_API_URL: http://localhost:8080
    depends_on:
      - backend
    networks:
      - autoflex-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: autoflex-backend
    restart: unless-stopped
    ports:
      - 8080:8080
    environment:
      POSTGRES_HOST: db
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgres
    depends_on:
      db:
        condition: service_healthy
    networks:
      - autoflex-network

  db:
    image: postgres:16
    container_name: autoflex-db
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: autoflexdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 10s
      retries: 5
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - autoflex-network

volumes:
  postgres-data:

networks:
  autoflex-network:
    driver: bridge